<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta http-equiv="Content-language" content="zh-CN"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="applicable-device" content="pc">

    <title>寻屋</title>
    <meta name="description" content="方便快捷寻屋"/>
    <meta name="keywords" content="寻屋"/>
    <link href="/static/css/main.css" rel='stylesheet' type='text/css'/>
    <link href="/static/css/index.css" rel='stylesheet' type='text/css'/>
</head>
<body>
<header th:replace="common :: header"></header>

<div class="city-change animated bounceIn" style="display: block;">
    <span class="close"></span>
    <div class="title">选择城市
        <span class="city-tab">
            <span class="code1">热门城市:</span>
            <a href="/client/house/list?cityEnName=bj" title="北京租房">北京</a>
            <a href="/client/house/list?cityEnName=sh" title="上海租房">上海</a>
            <a href="/client/house/list?cityEnName=gz" title="广州租房">广州</a>
            <a href="/client/house/list?cityEnName=sz" title="深圳租房">深圳</a>
        </span>
    </div>
    <div class="title-line"></div>
    <div class="fc-main clear">
        <div class="fl citys-l" style="width: 100%">
            <ul>
                    <li class="clear" th:each="item:${#servletContext.getAttribute('list')}"><span class="code-title fl" th:text="${item.key}"></span>
                        <div class="city-enum fl" th:each="city:${item.value}"><a th:href="'/client/house/list?cityId='+${city.id}" th:title="${city.name}+'租房'" th:text="${city.name}"></a></div>
                    </li>
            </ul>
        </div>
<!--        <div class="fl citys-r">-->
<!--            <ul>-->
<!--                <li class="clear">-->
<!--                    <span class="code-title fl">L</span>-->
<!--                    <div class="city-enum fl">-->
<!--                        <a href="/client/house/list?cityEnName=ls" title="陵水租房">陵水</a>-->
<!--                        <a href="/client/house/list?cityEnName=lf" title="廊坊租房">廊坊</a>-->
<!--                    </div>-->
<!--                </li>-->
<!--                <li class="clear">-->
<!--                    <span class="code-title fl">N</span>-->
<!--                    <div class="city-enum fl"><a href="/client/house/list?cityEnName=nj" title="南京租房">南京</a></div>-->
<!--                </li>-->
<!--                <li class="clear">-->
<!--                    <span class="code-title fl">Q</span>-->
<!--                    <div class="city-enum fl">-->
<!--                        <a href="/client/house/list?cityEnName=qd" title="青岛租房">青岛</a>-->
<!--                        <a href="/client/house/list?cityEnName=qh" title="琼海租房">琼海</a>-->
<!--                    </div>-->
<!--                </li>-->
<!--                <li class="clear">-->
<!--                    <span class="code-title fl">S</span>-->
<!--                    <div class="city-enum fl">-->
<!--                        <a href="/client/house/list?cityEnName=sh" title="上海租房">上海</a>-->
<!--                        <a href="/client/house/list?cityEnName=sz" title="深圳租房">深圳</a>-->
<!--                        <a href="/client/house/list?cityEnName=su" title="苏州租房">苏州</a>-->
<!--                        <a href="/client/house/list?cityEnName=sjz" title="石家庄租房">石家庄</a>-->
<!--                        <a href="/client/house/list?cityEnName=sy" title="沈阳租房">沈阳</a>-->
<!--                        <a href="/client/house/list?cityEnName=sanya" title="三亚租房">三亚</a>-->
<!--                    </div>-->
<!--                </li>-->
<!--                <li class="clear">-->
<!--                    <span class="code-title fl">T</span>-->
<!--                    <div class="city-enum fl">-->
<!--                        <a href="/client/house/list?cityEnName=tj" title="天津租房">天津</a>-->
<!--                        <a href="/client/house/list?cityEnName=ty" title="太原租房">太原</a>-->
<!--                    </div>-->
<!--                </li>-->
<!--                <li class="clear">-->
<!--                    <span class="code-title fl">W</span>-->
<!--                    <div class="city-enum fl">-->
<!--                        <a href="/client/house/list?cityEnName=wh" title="武汉租房">武汉</a>-->
<!--                        <a href="/client/house/list?cityEnName=wx" title="无锡租房">无锡</a>-->
<!--                        <a href="/client/house/list?cityEnName=wc" title="文昌租房">文昌</a>-->
<!--                        <a href="/client/house/list?cityEnName=wn" title="万宁租房">万宁</a>-->
<!--                    </div>-->
<!--                </li>-->
<!--                <li class="clear">-->
<!--                    <span class="code-title fl">X</span>-->
<!--                    <div class="city-enum fl">-->
<!--                        <a href="/client/house/list?cityEnName=xm" title="厦门租房">厦门</a>-->
<!--                        <a href="/client/house/list?cityEnName=xa" title="西安租房">西安</a>-->
<!--                        <a href="/client/house/list?cityEnName=xsbn" title="西双版纳租房">西双版纳</a></div>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
    </div>
</div>


<div th:include="common :: footer"></div>
<script th:inline="javascript" type="text/javascript">
    $(function () {
        var param=getRequest()
        if(param!=null&&param['auth_code']!=null){
            console.log("进来了"+param)
            var code=param['auth_code'];
            var source=param['source'];
            location.href='/client/user/authLogin?code='+code+'&type='+source
        }
        $('.xunwu-header .index-page').addClass('on');

        function msgTip(content) {
            layer.open({
                type: 1,
                offset: '100px',
                area: ['420px', '240px'],
                skin: 'layui-layer-lan', //样式类名
                closeBtn: 1, //显示关闭按钮
                anim: 2,
                shadeClose: true, //开启遮罩关闭
                content: content,
                time: 2000
            });
        }

        var msg = [[${msg}]];
        if (msg === 'must_chose_city') {
            msgTip('<p class="msgTip">你必须选择一个城市</p>');
        } else if (msg === 'not_support_city') {
            msgTip('<p class="msgTip">暂不支持所选城市</p>');
        } else {
            // TODO
        }
    });

    function getRequest(urlStr) {//两种方式，输入链接获取或当前链接获取
             if (typeof urlStr == "undefined") {
                     var url = decodeURI(location.search); //获取url中"?"符后的字符串
                 } else {
                     var url = "?" + urlStr.split("?")[1];
                 }
             var theRequest = new Object();
             if (url.indexOf("?") != -1) {
                     var str = url.substr(1);//去掉问号，问号为第一个字符
                     strs = str.split("&");
                     for (var i = 0; i < strs.length; i++) {
                             theRequest[strs[i].split("=")[0]] = decodeURI(strs[i].split("=")[1]);
                         }
                 }
        return theRequest;
         }
</script>
</body>
</html>